[Unit]
Description=24/7 Live Playout Stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=vortek
Group=vortek
LoadCredential=tw_key:/etc/credstore/tw_key
#LoadCredential=yt_key:/etc/credstore/yt_key
#LoadCredential=kick_key:/etc/credstore/kick_key
Restart=always
RestartSec=10
ExecStartPre=/opt/247live/scripts/generate_playlist.sh
ExecStart=/opt/247live/scripts/playout.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
