[Unit]
Description=Reshuffle playout playlist every 6 hours

[Timer]
OnBootSec=6h
OnUnitActiveSec=6h
AccuracySec=1min

[Install]
WantedBy=timers.target
